<nav>
  <h1>Inventory</h1>
  <h2>Browse</h2>
  <hr />
  <ul class="sidebar-nav">
    <li>
      <a href="/inventory">Overview</a>
    </li>
    <li>
      <a href="/inventory/items">All Items</a>
    </li>
    <li>
      <a href="/inventory/categories">All Categories</a>
    </li>
  </ul>
  <h2>Create</h2>
  <hr />
  <ul class="sidebar-nav">
    <li>
      <a href="/inventory/item/create">New Item</a>
    </li>
    <li>
      <a href="/inventory/category/create">New Category</a>
    </li>
  </ul>
</nav>
