.container {
  display: flex;
}

main {
  flex: 1;
  padding: 40px;
  color: rgb(41, 41, 41);
  background-color: rgb(250, 248, 249);
}

main > h1 {
  padding: 0 0 1rem 0;
  margin: 0;
  font-size: 2rem;
  font-weight: 500;
  color: rgb(0, 150, 163);
}

.sidebar {
  min-width: 240px;
  height: 100vh;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  box-shadow: 2px 0 6px -2px #888;
  background-color: rgb(138, 96, 122);
}

body {
  font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

.sidebar-nav {
  color: rgb(248, 242, 245);
  padding-bottom: 10px;
}

nav > h1 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 2rem;
  color: rgb(248, 242, 245);
  margin-left: 1.5rem;
}

nav > h2 {
  font-size: 1.2rem;
  font-weight: 500;
  color: rgb(248, 242, 245);
  margin-left: 1.5rem;
}

main > ul {
  margin: 0;
}

.sidebar-nav > li {
  list-style-type: none;
  margin: 15px 10px;
}

.sidebar-nav > li > a {
  text-decoration: none;
  color: rgb(248, 242, 245);
  padding: 5px;
  width: 100%;
}

.sidebar-nav > li > a:hover {
  text-decoration: underline;
  text-underline-offset: 0.5em;
}

hr {
  border: 1px solid rgb(152, 111, 136);
  width: 80%;
}

.item-card {
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  border-radius: 5px;
  padding: 1rem;
  box-sizing: border-box;
  justify-content: space-between;
}

.item-image {
  width: 150px;
  align-self: center;
}

.item-group-main {
  display: flex;
  gap: 2rem;
}

.item-group {
  flex: 1;
}

.item-group-right {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  width: 200px;
}

.vr {
  width: 1px;
  border-right: 2px solid #d5d5d5;
  margin-left: 2rem;
}

.view-item-button,
.delete-button,
.update-button,
button[type='submit'] {
  align-self: flex-end;
  width: 100px;
  background-color: rgb(0, 150, 163);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #f7f9fb;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  height: 40px;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  transition: background-color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
}

.delete-button {
  background-color: rgb(48, 48, 48);
}

.view-item-button:hover,
.update-button:hover {
  background-color: rgb(5, 167, 182);
}

.delete-button:hover {
  background-color: rgb(60, 60, 60);
}

.item-description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.item-cards,
.category-cards {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.item-card-name,
.category-card-name {
  font-size: 1.2rem;
}

.button-group {
  padding-top: 1rem;
  display: flex;
  gap: 0.5rem;
}

.category-card {
  max-width: 500px;
  background-color: rgb(255, 255, 255);
  display: flex;
  border-radius: 5px;
  padding: 1rem;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
}

.category-card-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.category-card-group > h2,
.category-card-group > p {
  margin: 0;
}

.view-category-button {
  width: 100px;
  background-color: rgb(0, 150, 163);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #f7f9fb;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  height: 40px;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  transition: background-color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
}

.category-detail-divider {
  width: 100%;
  padding: 0;
  margin: 4rem 0;
  border-color: #d5d5d5;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  gap: 0.5rem;
}

input,
select {
  width: 100%;
}

button[type='submit'] {
  margin: 1rem 0;
  align-self: flex-start;
}
